<div class="container-fluid">
		<div class="row">
		<div class="col-12">
			<div class="login-card">
				<div class="login-main">
					<div class="theme-form">
						<h4>Reset your password</h4>
						<label class="col-form-label">Enter Your Email or Mobile Number</label>
						<div class="form-group">
							<div class="row">
                                <div class="col-md-3">
                                    <input  class="form-control mb-1" type="text" value="+ 91" required readonly>
                                  </div>
                                  <div class="col-md-9">
                                    <input class="form-control mb-1" type="text" placeholder="email or mobile" required [formControl]="phoneNumber">
									 <div *ngIf="phoneNumber.touched && phoneNumber.errors?.required" class="text text-danger mt-1">
										email or Phone number is required
									  </div> 
                                  </div>
                            </div>
						</div>
                        <button type="button" class="col-12 btn btn-primary btn-block" style="margin-top:10px;" (click)="sendResetMail()">Send</button>
                        <div class="text-center mt-4 mb-4"><span class="reset-password-link">If don't receive OTP?  <a class="btn-link text-danger" routerLink='/'>Resend</a></span></div>
					</div>
					<form class="theme-form" [formGroup]="confirmpassForm">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Enter OTP</label>
                            <div class="row">
                              <div class="col">
                                <input class="form-control text-center opt-text" type="number" placeholder="00" maxlength="2" formControlName="OTP">
                              </div>
                              <div class="col">
                                <input class="form-control text-center opt-text" type="number" placeholder="00" maxlength="2" formControlName="OTP2">
                              </div>
                              <div class="col">
                                <input class="form-control text-center opt-text" type="number" placeholder="00" maxlength="2" formControlName="OTP3">
                              </div>
							  <div *ngIf="confirmpassForm.controls.OTP.touched && confirmpassForm.controls.OTP.errors?.required ||
							  			  confirmpassForm.controls.OTP2.touched && confirmpassForm.controls.OTP2.errors?.required ||
							 			  confirmpassForm.controls.OTP3.touched && confirmpassForm.controls.OTP3.errors?.required" 
							  class="text text-danger mt-1">
                        		Invalid OTP
                  			</div>
                            </div>
                          </div>

                        <h6 class="mt-4">Create Your Password</h6>
						<div class="form-group">
							<label class="col-form-label">New Password</label>
                            <input class="form-control" [type]="show ? 'text' : 'password'"  required="" placeholder="*********" formControlName="password">
							<div class="show-hide" (click)="showPassword()" *ngIf="!show"><span class="show"></span></div>
                            <div class="show-hide" (click)="showPassword()" *ngIf="show"><span class="Hide"></span></div>
							<div *ngIf="confirmpassForm.controls.password.touched && confirmpassForm.controls.password.errors?.required" class="text text-danger mt-1">
                        		Password is required
                  			</div>
						</div>
                        <div class="form-group">
							<label class="col-form-label">Retype Password</label>
                            <input class="form-control" [type]="show ? 'text' : 'password'"  required="" placeholder="*********" formControlName="ConfirmPassword">
							<div *ngIf="confirmpassForm.controls.ConfirmPassword.touched && confirmpassForm.controls.ConfirmPassword.errors?.required" class="text text-danger mt-1">
                        		Password is required
                  			</div>
						</div>
						<div class="form-group mb-0">
							<!-- <div class="checkbox p-0">
								<input id="checkbox1" type="checkbox">
                   			    <label class="text-muted" for="checkbox1" style="margin-left: 10px;">Remember password</label>   
							</div> -->
							<button type="button" class="col-12 btn btn-primary btn-block" style="margin-top:20px;" (click)="done()" [disabled]="!confirmpassForm.valid">Done</button>
						</div>
						<p class="mt-4 mb-0">Already have an account?
							<a [routerLink]="'/auth/login'" class="ml-2">Sign in</a>
						  </p>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>