<header class="head-container">
    <div class="row">
        <div class="col-md-8 search-container">
            <h5>
                <label>
                    <i class="fa fa-bars" aria-hidden="true" style="cursor:pointer;" (click)="ontoggle()"></i>
                     Grid tree
                </label>
            </h5>
            <h5>
                <i class="fa fa-search" aria-hidden="true" style="cursor:pointer;margin-left:20px;"></i>
            </h5>
            <div class="form-group w-80 search-wrapper">    
                <input  type="search" required placeholder="Search here...">
            </div>
        </div>
        <div class="col-md-4 icons-wrapper">
         <h5><i class="fa fa-bell-o" aria-hidden="true"></i></h5>   
         <h5><i class="fa fa-comments" aria-hidden="true"></i></h5>   
         <h5><i class="fa fa-arrows-alt" aria-hidden="true"></i></h5> 
         <div class="user-wrapper">
            <img src="assets/download.jpg" alt="" width="45px" height="45px">
            <div class="">
                <h6>John Doe</h6>
                <small>Admin</small>
            </div>
         </div>
        </div>
    </div>
</header>

