<!-- <div class="table-container">
    <button class="btn btn-primary" (click)="onAdd()">
            Add
    </button>
    <table class="table">
        <thead>
            <tr>
              <th>Name</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of questionnaire;let i = index">
                <td>{{element.name}}</td>
                <td>{{element.startdate}}</td>
                <td>{{element.enddate}}</td>
                <td><i class="fa fa-pencil-square-o" aria-hidden="true" (click)="onEdit(i,element)"></i></td>
          </tr>
        </tbody>
      </table>

</div>
 -->
